// Esquemas de colores

//primer esquema colores

$white: #fff;
$platinium: #e6e7e7;
$lightGray: #D1D1D1;

//segundo esquema de colores
$fuzzy: #e56353;
$ruddypink: #d76c69;
$spanishpink: #ECBCBA;

//tercer esquema de colores
$earie: #121619;
$raisin: #222323;
$nickel: #6C6E70;

// Fuentes Codigos
$robotoligh:'Roboto', sans-serif;
$playfair:'Playfair Display', serif;


//peso de fuente 

$light: 300;
$regular: 400;
$italy: 900;


// Tamaños de fuentes

$xx-large : 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;


//Asignando valores 

$img-medium: 120px;
$img-large: 150px;
$text-space: 30px;