h1 {

    font-size: $xx-large;
    font-family: $robotoligh;
}


footer {
   background-color: $earie;
   text-align: center;
   width: 150px;
   height: 150px; 
   padding: 50px;

}




// dimension de logo footer
.footImg {
    width: 100px;
    height: 50px;
    
  
   
}